<div class="container-fluid p-0 mb-5 pb-5" id="home">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="assets/images/banner/banner1.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3 p3-b1" style="">
                    <h5 class="text-white text-uppercase mb-3 h5-b1" style="">Somos especialistas em fazer o seu negócio vender mais</h5>
                      <h6 class="display-2 font-secondary text-white mb-4 h6-b1" style=""><b>Cuidamos da comunicação da sua empresa para você não precisar se preocupar com mais nada.</b></h6>
                      <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios a-b1" href="#contact"><b>Vamos conversar</b></a>
                      <img class="i-b1" style=""src="/assets/images/banner/output-onlinepngtools01.png" alt="#" />
              </div>
          </div>
          </div>
         <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="assets/images/banner/banner2.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="/*background-color:rgb(250, 100, 0); opacity: 0.8;*/">
                <div class="p-3 p3-b2" style="">
                       <h5 class="text-white text-uppercase mb-3 h5-b2" style="">Visão 360º on e off do seu negócio.</h5>
                       <h6 class="display-2 font-secondary text-white mb-4  h6-b2" style=""><b>Campanhas promocionais, institucionais e de oportunidade? Venha fazer acontecer com a gente.</b></h6>
                      <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios a-b2" href="#contact"><b>Vamos bater um papo?</b></a>
                      <img class="i-b2" style=""src="/assets/images/banner/output-onlinepngtools02.png" alt="#" />
                  </div>
              </div>
          </div>
          <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="assets/images/banner/banner3.jpg" style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="/*background-color:green; opacity: 0.7;*/">
              <div class="p-3 p3-b3" style="">
                <h5 class="text-white text-uppercase mb-3 h5-b3" style="">Planejamento + Criação gera RESULTADO.</h5>
                    <h6 class="display-2 font-secondary text-white mb-4  h6-b3" style=""><b>Menos tempo, mais produtividade. Aqui você tem resultados reais e o seu negócio vende mais.</b></h6>
                    <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios  a-b3" href="#contact"><b>Vamos fechar negócio?</b></a>
                    <img class="i-b3" style=""src="/assets/images/banner/output-onlinepngtools03.png" alt="#" />
                </div>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev justify-content-start" href="#header-carousel" data-slide="prev">
          <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
              <span class="carousel-control-prev-icon mt-3"></span>
          </div>
      </a>
      <a class="carousel-control-next justify-content-end" href="#header-carousel" data-slide="next">
          <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
              <span class="carousel-control-next-icon mt-3"></span>
          </div>
      </a>
  </div>
</div>
