<div class="container-fluid p-0 mb-5 pb-5" id="home">
  <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
          <div class="carousel-item position-relative active" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="assets/images/banner/banner1.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                  <div class="p-3" style="max-width: 1120px; margin-top: -147px;">
                    <h5 class="text-white text-uppercase mb-3" style=" font-weight: bold; font-family: gotham_blackregular; font-size: 250%;
                    margin-top: 390px;">Somos especialistas em fazer o seu negócio vender mais</h5>
                      <h6 class="display-2 font-secondary text-white mb-4" style="font-weight: bold;  font-size: 190%;font-family: gotham_mediumregular;"><b>Cuidamos da comunicação da sua empresa para você não precisar se preocupar com mais nada.</b></h6>
                      <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios" href="#contact"><b>Vamos conversar</b></a>
                      <img style="opacity: 1; margin-bottom: 3%; width: 890px;"src="/assets/images/banner/output-onlinepngtools01.png" alt="#" />
              </div>
          </div>
          </div>
         <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
              <img class="position-absolute w-100 h-100" src="assets/images/banner/banner2.jpg" style="object-fit: cover;">
              <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="/*background-color:rgb(250, 100, 0); opacity: 0.8;*/">
                <div class="p-3" style="max-width: 1120px; margin-top: -147px;">
                       <h5 class="text-white text-uppercase mb-3" style=" font-weight: bold;  font-family: gotham_blackregular; font-size: 250%;
                      margin-top: 390px;">Visão 360º on e off do seu negócio.</h5>
                       <h6 class="display-2 font-secondary text-white mb-4" style="font-weight: bold; font-size:190%;font-family: gotham_mediumregular;"><b>Campanhas promocionais, institucionais e de oportunidade? Venha fazer acontecer com a gente.</b></h6>
                      <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios" href="#contact"><b>Vamos bater um papo?</b></a>
                      <img style="opacity: 1; margin-bottom:6%; width: 890px;"src="/assets/images/banner/output-onlinepngtools02.png" alt="#" />
                  </div>
              </div>
          </div>
          <div class="carousel-item position-relative" style="height: 100vh; min-height: 400px;">
            <img class="position-absolute w-100 h-100" src="assets/images/banner/banner3.jpg" style="object-fit: cover;">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center" style="/*background-color:green; opacity: 0.7;*/">
              <div class="p-3" style="max-width: 1120px; margin-top: -147px;">
                <h5 class="text-white text-uppercase mb-3" style=" font-family: gotham_blackregular; font-weight: bold; font-size: 250%;
                margin-top: 390px;">Planejamento + Criação gera RESULTADO.</h5>
                    <h6 class="display-2 font-secondary text-white mb-4" style="font-weight: bold;  font-size:  190%;font-family: gotham_mediumregular;"><b>Menos tempo, mais produtividade. Aqui você tem resultados reais e o seu negócio vende mais.</b></h6>
                    <a class="btn btn-light font-weight-bold py-3 px-5 mt-2 btn-scroll btn-radios" href="#contact"><b>Vamos fechar negócio?</b></a>
                    <img style="opacity: 1; margin-bottom: 3%; width: 890px;"src="/assets/images/banner/output-onlinepngtools03.png" alt="#" />
                </div>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev justify-content-start" href="#header-carousel" data-slide="prev">
          <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
              <span class="carousel-control-prev-icon mt-3"></span>
          </div>
      </a>
      <a class="carousel-control-next justify-content-end" href="#header-carousel" data-slide="next">
          <div class="btn btn-primary px-0" style="width: 68px; height: 68px;">
              <span class="carousel-control-next-icon mt-3"></span>
          </div>
      </a>
  </div>
</div>
