<section class="welcome_section layout_padding" style="margin-top:-3%; background-image: linear-gradient(white,white,white, white,white,#212120);">
  <div class="container">
    <div class="custom_heading-container">
      <h2 class="font-secondary display-4" style="margin-top:-10%; font-size:27px; font-family: gotham_mediumregular;">
        <b>VEJA COMO A AJE COMUNICAÇÃO PODE AJUDAR NO CRESCIMENTO DO SEU NEGÓCIO</b>
      </h2>
    </div>
    <div class="layout_padding2">
     <!-- <div class="img-box">
        <img src="images/welcome.png" alt=""/>
      </div>-->
      <div class="detail-box" style="margin-top:-5%;" >
        <p style="color:black font-size:20px font-family: gotham_mediumregular;">
          <b>Somos uma agência de marketing e atuamos em todo o Brasil. A nossa equipe é formada por profissionais especializados e com anos de atuação no mercado. O nosso maior objetivo é criar estratégias para fazer o seu negócio vender cada vez mais. Planejar, criar, executar e acompanhar os números. É isso que nos move.
          </b></p>
        <div>
          <a href="" style="font-size:20px font-family: gotham_mediumregular;">
            Quero fechar negócio.
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
