<div class="container-fluid py-5" id="service" style="margin-top: -7%; background-image: linear-gradient(black,black,#22395d,rgb(209, 215, 241),white,white,white, white);">
  <div class="container py-5">
      <div class="section-title position-relative text-center">
          <!--<h6 class="text-uppercase text-primary mb-3" style="font-size:20px; font-family: gotham_mediumregular;"><b>SERVIÇOS</b></h6> -->
          <h1 class="font-secondary display-4" style=" color: white; font-size:35px; font-family: gotham_mediumregular;"><b>CONHEÇA OS NOSSOS SERVIÇOS</b></h1>
      </div>

      <section class="second-section" >
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/services/first-icon.png" alt="">
                </div>
                <h4 style="font-size:20px; font-family: gotham_mediumregular;">CRIAÇÃO DE SITE ON/OFF</h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/services/second-icon.png" alt="">
                </div>
                <h4 style="font-size:20px; font-family: gotham_mediumregular;">REDES SOCIAIS</h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/services/third-icon.png" alt="">
                </div>
                <h4 style="font-size:20px; font-family: gotham_mediumregular;">INBOUND MARKETING  </h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/services/fourth-icon.png" alt="">
                </div>
                <h4 style="font-size:20px; font-family: gotham_mediumregular;">CAMPANHAS PATROCINADAS</h4>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="service-item">
                <div class="icon">
                  <img src="assets/images/services/fourth-icon.png" alt="">
                </div>
                <h4 style="font-size:20px; font-family: gotham_mediumregular;">PAPELARIA</h4>
              </div>
          </div>

          </div>
        </div>
      </section>



  </div>
</div>

