<!-- welcome section -->
<section class="welcome_section layout_padding">
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Bem-vindo à nossa empresa
      </h2>
    </div>
    <div class="layout_padding2">
      <div class="img-box">
        <img src="assets/images/logo_original2.jpg" alt=""/>
      </div>
      <div class="detail-box">
        <p>
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis
          aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        </p>
        <div>
          <a href="">
            Mais Informações
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end welcome section -->

<!-- service section -->

<section class="service_section">
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Serviços
      </h2>
    </div>
    <div class="service_container layout_padding2">
      <div class="service_box">
        <div class="img-box">
          <img src="assets/images/s-1.jpg" alt=""/>
        </div>
        <div class="detail-box">
          <h4>
            Consultoria de Negócios <br/>
          </h4>
          <p>
            have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
            slightly believable. If you are
          </p>
        </div>
      </div>
      <div class="service_box">
        <div class="img-box">
          <img src="assets/images/s-2.jpg" alt=""/>
        </div>
        <div class="detail-box">
          <h4>
            Análise de Marketing <br/>
          </h4>
          <p>
            have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
            slightly believable. If you are
          </p>
        </div>
      </div>
      <div class="service_box">
        <div class="img-box">
          <img src="assets/images/s-3.jpg" alt=""/>
        </div>
        <div class="detail-box">
          <h4>
            Planejamento <br/>
            Financeiro
          </h4>
          <p>
            have suffered alteration in some form, by injected humour, or randomised words which don&#39;t look even
            slightly believable. If you are
          </p>
        </div>
      </div>
    </div>
    <div>
      <a href="">
        Mais Informações
      </a>
    </div>
  </div>
</section>

<!-- end service section -->
<!--problem section -->
<section class="problem_section layout_padding">
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Você tem algum problema comercial?
      </h2>
    </div>
    <div class="layout_padding2">
      <div class="img-box">
        <img src="assets/images/problem.jpg" alt=""/>
      </div>
      <div class="detail-box">
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
          some form, by injected humour, or randomised words which don&#39;t look even slightly believable. I
        </p>
        <div>
          <a href="">
            Mais Informações
          </a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- end problem section -->
<!-- why section -->

<section class="why_section layout_padding">
  <div class="container">
    <div class="custom_heading-container">
      <h2>
        Porque somos a melhor escolha?
      </h2>
    </div>
    <div class="content-container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis
      </p>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="img-box">
            <img src="assets/images/smiley.png" alt=""/>
          </div>
          <div class="detail-box">
            <h3>
              99%
            </h3>
            <h6>
              CLIENTES SATISFEITOS
            </h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="img-box">
            <img src="assets/images/monitor.png" alt=""/>
          </div>
          <div class="detail-box">
            <h3>
              4700+
            </h3>
            <h6>
              Planeamento INCRÍVEL
            </h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="img-box">
            <img src="assets/images/multiple-users-silhouette.png" alt=""/>
          </div>
          <div class="detail-box">
            <h3>
              4500+
            </h3>
            <h6>
              CLIENTES
            </h6>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="img-box">
            <img src="assets/images/bar-chart.png" alt=""/>
          </div>
          <div class="detail-box">
            <h3>
              19000+
            </h3>
            <h6>
              Negócios diários
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end why section -->

<!-- client section -->
<section class="client_section layout_padding">
  <div class="container">
    <h2>
      O que nossos clientes dizem
    </h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="client_container layout_padding2">
            <div class="client_text">
              <p>
                psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              </p>
            </div>
            <div class="detail-box">
              <div class="img-box">
                <img src="assets/images/client.png" alt=""/>
              </div>
              <div class="name">
                <h5>
                  João Costa
                </h5>
                <p>
                  cal
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="client_container layout_padding2">
            <div class="client_text">
              <p>
                psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              </p>
            </div>
            <div class="detail-box">
              <div class="img-box">
                <img src="assets/images/client.png" alt=""/>
              </div>
              <div class="name">
                <h5>
                  Lucas Santos
                </h5>
                <p>
                  cal
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="client_container layout_padding2">
            <div class="client_text">
              <p>
                psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
              </p>
            </div>
            <div class="detail-box">
              <div class="img-box">
                <img src="assets/images/client.png" alt=""/>
              </div>
              <div class="name">
                <h5>
                  Daniel Silva
                </h5>
                <p>
                  cal
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>
</section>
<!-- end client section -->
<!-- contact section -->
<section class="contact_section layout_padding">
  <div class="container contact_heading">
    <h2>
      Contate-nos
    </h2>
    <p>
      psum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    </p>
  </div>
  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputName4">Nome</label>
          <input type="text" class="form-control" id="inputName4"/>
        </div>
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4"/>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputNumber4">Telefone</label>
          <input type="tel" class="form-control" id="inputNumber4"/>
        </div>
        <div class="form-group col-md-6">
          <label for="inputState">Serviço</label>
          <select id="inputState" class="form-control">
            <option selected=""></option>
            <option>...</option>
          </select>
        </div>

      </div>
      <div class="form-group">
        <label for="inputMessage">Mensagem</label>
        <input type="text" class="form-control" id="inputMessage" placeholder=""/>
      </div>

  <div class="d-flex justify-content-center">
    <button type="submit" class="">Enviar</button>
  </div>
  </form>
</div>


</section>

