<div class="fab"  ontouchstart="">
  <a class="nav-link" target="_blank" href="https://api.whatsapp.com/send?phone=+5571982315117">
  <button class="main" >

  </button>
</a>
  <!--ul>
    <li>
      <label for="opcao1">Opção 1</label>
      <button id="opcao1">
      ⎈
      </button>
    </li>
    <li>
      <label for="opcao2">Opção 2</label>
      <button id="opcao2">
      ⎗
      </button>
    </li>
    <li>
      <label for="opcao3">Opção 3</label>
      <button id="opcao3">
      ☏
      </button>
    </li>
  </ul-->
</div>
