
@media screen and (max-width: 1580px) {
  .conv {
    display: none;
  }
  .menuconv{
    right: none;
  }
}

@media screen and (min-width: 1580px) {
  .menuconv{
    right: 300px;
  }
  .conv {
    display: block;
    left: 1241px;
    bottom: 80px;
  }
}



@media screen and (min-width: 1669px) {
  .menuconv{
    right: 300px;
  }
  .conv {
    display: block;
    left: 1550px    ;
    bottom: 80px;
  }
}

