
@media screen and (max-width: 1578px) {
  .conv {
    display: none;
  }
  .menuconv{
    right: none;
  }
  .btn_menu{
    display: block;
  }
}

@media screen and (min-width: 1578px) {
  .menuconv{
    right: 280px;
  }
  .conv {
    left: 85%; top: 16%; position: absolute;
  }
  .btn_menu{
    display: none;
  }
}



@media screen and (min-width: 1669px) {
  .menuconv{
    right: 280px;
  }
  .conv {
    left: 85%; top: 16%; position: absolute;
  }
  .btn_menu{
    display: none;
  }
}

@media (min-width: 1309px){
  .nooneblack {
    display: flex  !important;
    flex-basis: auto;
  }
}
